body{
    background:#F9D0CE;
    color:#F3C3FA;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#C3C9FA;
    color:#C3E8FA;
}

